<div class="container" fxLayout="row" fxLayoutAlign="center none">
    <div fxFlex="95%">
        <mat-card>
            <mat-card-content>
                <h1>Create Flow</h1>

                <mat-form-field class="flow-title">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="flow.name">
                </mat-form-field>

                <h2>
                    Variables
                    <button mat-button (click)="addVar()">
                        <mat-icon>add</mat-icon>
                    </button>
                </h2>
                <table class="mat-elevation-z1">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Sensitive Data</th>
                        <th>Value</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let variable of flow.variables; let i = index">
                        <td>
                            <ng-container *ngIf="varEditIndex != i">
                                <b>{{variable.name}}</b>
                            </ng-container>
                            <ng-container *ngIf="varEditIndex == i">
                                <mat-form-field appearance="fill" [style.width.px]="200">
                                    <input type="text" [(ngModel)]="tempVar.name" matInput>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="varEditIndex != i">
                                <span>{{variable.description}}</span>
                            </ng-container>
                            <ng-container *ngIf="varEditIndex == i">
                                <mat-form-field appearance="fill" [style.width.px]="500">
                                    <input type="text" [(ngModel)]="tempVar.description" matInput>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="varEditIndex != i">
                                <span>{{(variable.isSensitive ? 'YES' : 'NO')}}</span>
                            </ng-container>
                            <ng-container *ngIf="varEditIndex == i">
                                <mat-slide-toggle [(ngModel)]="tempVar.isSensitive"> Sensitive Data</mat-slide-toggle>
                            </ng-container>
                        </td>
                        <td>
                            <ng-container *ngIf="varEditIndex != i">
                                <ng-container *ngIf="variable.isSensitive">
                                    <input type="password" [value]="variable.value" disabled readonly />
                                </ng-container>
                                <ng-container *ngIf="!variable.isSensitive">
                                    <span>{{variable.value}}</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="varEditIndex == i">
                                <mat-form-field appearance="fill" [style.width.px]="100">
                                    <input type="{{(tempVar.isSensitive ? 'password' : 'text')}}"
                                        [(ngModel)]="tempVar.value" matInput>
                                </mat-form-field>
                            </ng-container>
                        </td>
                        <td>
                            <button mat-raised-button
                                (click)="updateVar(i)">{{(varEditIndex == i ? 'Save' : 'Edit')}}</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button mat-raised-button color="warn" (click)="removeVar(i)">Delete</button>
                        </td>
                    </tr>
                </table>

                <h2>
                    Tables
                    <button mat-button (click)="addTable()">
                        <mat-icon>add</mat-icon>
                    </button>
                </h2>

                <mat-accordion class="tables">
                    <mat-expansion-panel *ngFor="let table of flow.tables; let indexTable = index"
                        [attr.data-index]="i">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h2><small>Table #{{indexTable+1}}</small> {{table.name}}</h2>
                                <span class="spacer"></span>
                                <p class="collapse-buttons buttons-table">
                                    <button mat-button (click)="$event.stopPropagation(); up(flow.tables, indexTable)">
                                        <mat-icon>arrow_upward</mat-icon>
                                    </button>
                                    <button mat-button
                                        (click)="$event.stopPropagation(); down(flow.tables, indexTable)">
                                        <mat-icon>arrow_downward</mat-icon>
                                    </button>
                                    <button mat-button (click)="removeTable(indexTable)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </p>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-form-field class="table-title">
                            <mat-label>Title</mat-label>
                            <input matInput [(ngModel)]="table.name">
                        </mat-form-field>
                        <h3>
                            Evidences
                            <button mat-button (click)="addLine(table)">
                                <mat-icon>add</mat-icon>
                            </button>

                            <mat-slide-toggle [(ngModel)]="openCode">Add by Code</mat-slide-toggle>
                        </h3>
                        <ng-container *ngIf="openCode">
                            <div appearance="outline" class="command-textarea">
                                <mat-label>Put your well crafted code here
                                </mat-label>
                                <ngx-codemirror [(ngModel)]="code" [options]="codeEditorOptions"
                                    style="min-height: 200px;"></ngx-codemirror>
                            </div>
                            <button mat-flat-button color="primary" class="add-evidences" (click)="addCode(table)">
                                Add Evidences
                            </button>
                        </ng-container>
                        <mat-accordion class="commands">
                            <mat-expansion-panel *ngFor="let line of table.lines; let i = index" [attr.data-index]="i">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <h3><small>Evidence #{{i+1}}</small> {{line.description}}</h3>
                                        <span class="spacer"></span>
                                        <p class="collapse-buttons buttons-command">
                                            <button mat-button (click)="$event.stopPropagation(); up(table.lines, i)">
                                                <mat-icon>arrow_upward</mat-icon>
                                            </button>
                                            <button mat-button (click)="$event.stopPropagation(); down(table.lines, i)">
                                                <mat-icon>arrow_downward</mat-icon>
                                            </button>
                                            <button mat-button (click)="removeLine(table, i)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </p>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ng-container>
                                    <h3>Image Description</h3>
                                    <mat-form-field appearance="outline" class="evidente-title">
                                        <mat-label>Title</mat-label>
                                        <input matInput [(ngModel)]="line.description">
                                    </mat-form-field><br>
                                    <h3>Columns</h3>
                                    <ng-container *ngFor="let header of table.headers; let ii = index"
                                        [attr.data-index]="ii">
                                        <div>
                                            <mat-label>
                                                <span>{{header}}</span>&nbsp;&nbsp;&nbsp;
                                                <mat-slide-toggle [(ngModel)]="line.texts[ii].isDynamic">
                                                    <small>Dynamic value</small>
                                                </mat-slide-toggle>
                                            </mat-label><br />
                                            <mat-form-field appearance="fill" *ngIf="!line.texts[ii].isDynamic">
                                                <input matInput [(ngModel)]="line.texts[ii].text">
                                            </mat-form-field>
                                            <ng-container *ngIf="line.texts[ii].isDynamic">
                                                <mat-form-field appearance="fill">
                                                    <mat-label>Execute in Command</mat-label>
                                                    <mat-select [(ngModel)]="line.texts[ii].step">
                                                        <mat-option
                                                            *ngFor="let command of line.commands; let ii = index"
                                                            [value]="ii">
                                                            <p class='command-info'><b class="command-number">Command
                                                                    {{ii+1}}</b>&nbsp;&nbsp;&nbsp;
                                                                {{except(command.url, 60)}}
                                                            </p>
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <div appearance="outline" class="command-textarea">
                                                    <mat-label>Code</mat-label>
                                                    <ngx-codemirror [(ngModel)]="line.texts[ii].text"
                                                        [options]="codeEditorOptions"></ngx-codemirror>
                                                    <br>
                                                    <small>You must have: <b>return 'MY DYNAMIC VALUE'</b> </small>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                    <h3>
                                        Commands
                                        <button mat-button (click)="addCommand(line)">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </h3>
                                    <mat-accordion class="commands">
                                        <mat-expansion-panel *ngFor="let command of line.commands; let ii = index"
                                            color="primary">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <p class='command-info'><b
                                                            class="command-number">{{ii+1}}</b>&nbsp;&nbsp;&nbsp;
                                                        <mat-icon mat-list-icon>{{command.isCode ? 'code' : 'web'}}
                                                        </mat-icon>
                                                        {{except(command.url, 60)}}
                                                    </p>
                                                    <span class="spacer"></span>
                                                    <p class="collapse-buttons">
                                                        <button mat-button
                                                            (click)="$event.stopPropagation(); up(line.commands, ii)">
                                                            <mat-icon>arrow_upward</mat-icon>
                                                        </button>
                                                        <button mat-button
                                                            (click)="$event.stopPropagation(); down(line.commands, ii)">
                                                            <mat-icon>arrow_downward</mat-icon>
                                                        </button>
                                                        <button mat-button
                                                            (click)="$event.stopPropagation(); removeCommand(line, ii)">
                                                            <mat-icon>delete</mat-icon>
                                                        </button>
                                                    </p>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>

                                            <mat-form-field appearance="outline" class="command-input">
                                                <mat-label>URL</mat-label>
                                                <input matInput [(ngModel)]="command.url">
                                            </mat-form-field>
                                            &nbsp;&nbsp;&nbsp;
                                            <mat-slide-toggle [(ngModel)]="command.isCode">Execute Code
                                            </mat-slide-toggle>
                                            <ng-container *ngIf="command.isCode">
                                                <br>
                                                <div appearance="outline" class="command-textarea">
                                                    <mat-label>Code</mat-label>
                                                    <ngx-codemirror [(ngModel)]="command.action"
                                                        [options]="codeEditorOptions"></ngx-codemirror>
                                                </div>
                                                <br>
                                                <small>See <a href="https://pptr.dev/"
                                                        target="_blank">https://pptr.dev/</a>
                                                    for
                                                    API and
                                                    examples</small>
                                            </ng-container>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </ng-container>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-expansion-panel>
                </mat-accordion>

                <br>
                <div style="text-align: right;">
                    <a mat-button routerLink="/flow">Back</a>
                    <button mat-flat-button [disabled]="flow.tables.length == 0" class='confirm-button' color="primary"
                        (click)="create()">{{flow._id ? 'Update' : 'Create'}}
                        Flow</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>